.main-first {
  padding: 100px 80px;
}

.background-fon {
  color: #83888F;
  text-align: center;
  font-family: var(--text-heady-font-family);
  font-weight: var(--text-heady-font-weight);
  font-size: 180px;
  opacity: 0.5;
}

.main-first-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  box-shadow: 0px -50px 100px 50px white;
  position: relative;
  z-index: 100;
  bottom: 20px;

  &-item {
    max-width: 255px;
    text-align: center;


    h3 {
      font-family: var(--text-heady-font-family);
      font-weight: var(--text-heady-font-weight);
      font-size: 24px;
      padding: 10px 0;
      color: #333D4B;
      padding-top: 45px;
    }

    p {
      font-family: var(--text-p-font-family);
      font-weight: var(--text-p-font-weight);
      color: #333D4B;
    }
  }
}

.main-second {
  text-align: center;
  margin: 0 auto;
  color: var(--text-color);
  background-color: #333D4B;
  border-radius: 8px;
  padding-top: 100px;
  margin-bottom: 200px;


  h2 {
    font-family: var(--text-heady-font-family);
    font-weight: var(--text-heady-font-weight);
    font-size: 40px;
    padding-bottom: 20px;
  }

  p {
    font-family: var(--text-p-font-family);
    font-weight: var(--text-p-font-weight);
    font-size: 16px;
    max-width: 500px;
    padding: 0 20px;
    text-align: center;
    margin: 0 auto;
  }
}

.main-second-list {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;

  &-item {
    text-align: center;
    padding: 60px 45px;
    background-color: #0E8784;
    border-radius: 8px;
    position: relative;
    z-index: 23;
    top: 150px;

    img {
      padding: 60px 0;
    }

    h4 {
      font-family: var(--text-heady-font-family);
      font-weight: var(--text-heady-font-weight);
      color: var(--text-color);
      font-size: 24px;
      padding-bottom: 25px;
    }

    p {
      font-family: var(--text-p-font-family);
      font-weight: var(--text-p-font-weight);
      font-size: 16px;
      color: var(--text-color);
      max-width: 255px;
    }
  }
}


.main-third {
  h2 {
    font-family: var(--text-heady-font-family);
    font-weight: var(--text-heady-font-weight);
    color: #83888F;
    font-size: 24px;
  }
}

.lines {
  display: flex;
  align-items: center;
  margin: 80px 0;

  .square {
    width: 30px;
    height: 30px;
    border: 3px solid #0E8784;
    border-radius: 50%;
  }

  .line {
    width: 375px;
    height: 3px;
    background-color: #FDD6BA;
  }
}

.main-third-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &-item {

    img {
      margin: 50px 0;
    }

    h3 {
      width: 255px;
      color: #333D4B;
      font-family: var(--text-heady-font-family);
      font-size: 32px;
      font-style: normal;
      font-weight: var(--text-heady-font-weight);
      line-height: 36px;
      margin: 30px 0;
    }

    p {
      color: #333D4B;
      width: 285px;
      font-family: var(--text-p-font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: var(--text-p-font-weight);
      line-height: 26px;
      padding-bottom: 80px;

    }
  }
}

@media only screen and (max-width: 1245px) {
  .background-fon {
    font-size: 150px;
  }
}

@media only screen and (max-width: 1232px) {
  .main-second-list {
    flex-direction: column;

    &-item {
      display: flex;
      padding: 10px 80px;
      justify-content: space-around;
      align-items: center;
      margin: 10px 0;

    }
  }

  .background-fon {
    font-size: 135px;
  }
}

@media only screen and (max-width: 1023px) {
  .main-first-list {
    flex-direction: column;
    box-shadow: 0px -30px 50px 20px white;
    &-item {
      display: flex;
      width: 100%;
      text-align: left;
      justify-content: center;
      margin: 0 auto;

      p {
        width: 282px;
      }

    }
  }

  .background-fon {
    font-size: 120px;
  }

  .main-third-list {
    &-item {
      p {
        width: 250px;
      }
    }
  }



}

@media only screen and (max-width: 898px) {
  .background-fon {
    font-size: 100px;
  }
}




@media only screen and (max-width: 786px) {

  .main-third-list {
    flex-direction: column;

    &-item {
      margin: 0 auto;
      text-align: center;
    }
  }
}


@media only screen and (max-width: 590px) {
  .background-fon {
    font-size: 75px;

  }

  .main-first-list {
    box-shadow: 0px -30px 100px 20px white;

    &-item {
      flex-direction: column;
      text-align: center;
      margin: 20px auto;
      max-width: 255px;
    }
  }


  .main-second-list {
    &-item {
      flex-direction: column;

    }
  }

  .btn_ {
    margin: 0 auto;
    text-align: center;
  }



}
